<h4 mat-dialog-title>Ders</h4>
<mat-dialog-content>
    <div class="input-group">
        <p>Kod</p>
        <mat-form-field>
            <mat-label>Kod</mat-label>
            <input matInput [(ngModel)]="kod" name="kod" type="text"/>
        </mat-form-field>
    </div>
    <div class="input-group">
        <p>Ad</p>
        <mat-form-field>
            <mat-label>Ad</mat-label>
            <input matInput [(ngModel)]="ad" type="text"/>
        </mat-form-field>
    </div>
    <div class="input-group">
        <p>Muellim Adi</p>
        <mat-form-field>
            <mat-label>Muellim Adi</mat-label>
            <input matInput [(ngModel)]="muellimAd" type="text"/>
        </mat-form-field>
    </div>
    <div class="input-group">
        <p>Muellim Soyadi</p>
        <mat-form-field>
            <mat-label>Muellim Soyadi</mat-label>
            <input matInput [(ngModel)]="muellimSoyad" type="text"/>
        </mat-form-field>
    </div>
    <div class="input-group">
        <p>Sinif</p>
        <mat-form-field>
            <mat-label>Sinif</mat-label>
            <input matInput [(ngModel)]="sinif" type="number"/>
        </mat-form-field>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button (click)="Cancel()">Cancel</button>
    <button mat-button [mat-dialog-close]="Create()" cdkFocusInitial>Ok</button>
</mat-dialog-actions>