<div mat-dialog-title>
    <h3>Dərs</h3>
</div>
<form [formGroup]="dersForm" (ngSubmit)="onFormSubmit()">
    <div mat-dialog-content class="content">
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Kod</mat-label>
                <input matInput type="text" placeholder="Ders kodu" formControlName="kod" [readonly]="data.lookMode">
                <mat-error *ngIf="dersForm.get('kod').hasError('maxLength')">
                    Dərs kodu 3 simvoldan ibarət ola bilər!
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Ad</mat-label>
                <input matInput placeholder="Dersin adı" formControlName="ad" [readonly]="data.lookMode">
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Müəllim Ad</mat-label>
                <input matInput type="text" placeholder="Müəllimin Adı" formControlName="muellimAd" [readonly]="data.lookMode">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Müəllim Soyad</mat-label>
                <input matInput placeholder="Müəllimin Soyadı" formControlName="muellimSoyad" [readonly]="data.lookMode">
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Sinif</mat-label>
                <input matInput type="number" placeholder="Sinif" formControlName="sinif" [readonly]="data.lookMode">
                <mat-error *ngIf="dersForm.get('sinif').hasError('min') || dersForm.get('sinif').hasError('max')">
                    Sinif 1 ilə 11 arasında ola bilər!
                </mat-error>
            </mat-form-field>
        </div>
    </div>
    <div mat-dialog-actions class="action">
        <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
        @if(!data.lookMode){
            <button mat-raised-button color="primary" type="submit">{{data.data ? 'Update': 'Save'}}</button>
        }
    </div>
</form>